
@import '../../../../app.component.scss';

nav {
  z-index: 2;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
}

li a {
  color: $title-color;
  font-weight: bold;
  text-decoration: none;
  margin: 0 20px 0 20px;
}

li a.active {
  color: $secondary-color
}

li a:hover {
  color: $secondary-color
}
