<app-header-land></app-header-land>

<main>
  <section>
    <div class="inner">
      <div class="bar-container">
        <div class="yellow-bar"></div>
        <div class="blue-bar"></div>
      </div>
      <div class="image-holder">
        <img src="assets/images/laptop.svg" alt="laptop" />
      </div>

      <div class="content-holder">
        <div class="content-title">
          <h2>Ingreso Usuarios</h2>
        <img
          class="reward-icon"
          src="assets/icons/reward_hours.svg"
          alt="rewardhours"
        />
        </div>

        <div class="i-am">
          <h3>yo soy</h3>
        </div>

        <div class="login-options">
          <div class="employee-option">EMPLEADO</div>
          <div class="company-option">EMPRESA</div>
          <div class="supplier-option">PROVEEDOR ALIADO</div>
        </div>
      </div>
    </div>
  </section>
</main>
