@import "../../../app.component.scss";
section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inner {
  background: #fff;
  max-width: 1000px;
  width: 1000px;
  margin: auto;
  display: flex;
  margin: 5% 0 0 0;
}

.inner .image-holder {
  width: 50%;
}

.content-holder {
  width: 50%;
  height: 500px;
  margin: 30px;
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inner .image-holder img {
  max-width: 100%;
}

.content-holder h2 {
  font-size: 1.8rem;
  color: #003366;
}

.i-am {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.i-am h3 {
  font-size: 1.3rem;
  color: $paragraph-color;
}

.login-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0 30px 40px;
}

.option {
  cursor: pointer;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: 70px;
  color: #fff;
  left: 10px;

  font-weight: bold;

  transition: transform 0.3s ease;
}

.option:hover {
  transform: translateX(-20px);
}

.employee-option {
  @extend .option;
  background: $secondary-color;
  margin: 0 0 20px 0;
}
.company-option {
  @extend .option;
  background: $tertiary-color;
  margin: 0 0 20px 0;
}
.supplier-option {
  @extend .option;
  background: $primary-color;
}

// Bars

.bar-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.bar {
  width: 20px;
  height: 600px;
  margin: 0 0 0 20px;
  position: relative;
  top: -20px;
}

.translated {
  justify-content: end;
  padding: 0 20px 0 0;
}

.blue-bar {
  @extend .bar;
  background: $primary-color;
}

.yellow-bar {
  @extend .bar;
  background: $secondary-color;
}

.employee-selected .inner {
  flex-direction: row-reverse;
}

.company-selected .inner {
  flex-direction: row-reverse;
}

.supplier-selected .inner {
  flex-direction: row-reverse;
}

.left-align {
  left: -90px;
}
.left-align:hover {
  transform: none;
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 50%;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 2;

  &.show {
    opacity: 1;
    transform: translateX(0);
  }

  .form-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    margin: 0 0 20px 0;
    font-size: 1.3rem;
  }

  .form-group input {
    border: none;
    margin: 0 10px 0 0;
    outline: none;
    background: transparent;
    padding: 0 15px;
    color: $paragraph-color;
    font-size: 1.3rem;
  }

  .form-group input::placeholder {
    color: $paragraph-color;
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 30px 0 0 0;
    width: 100%;
    height: 100%;
  }

  .form-actions div {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
  }

  .login-buttons {
    width: 100px;
    height: 30px;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.19);
  }

  .login-buttons:hover {
    transform: translateY(2px);
  }

  .back-button {
    @extend .login-buttons;
    background: $background-color;
    color: $title-color;
  }

  .login-button {
    @extend .login-buttons;
    background: $tertiary-color;
    color: $background-color;
  }
}
