<!-- Starts User Details  -->

<section>
  <div class="user-container">
    <div class="profile-container">
      <div class="profile-picture">
        <img src="assets/images/girl.svg" alt="profile" />
      </div>

      <div class="status-circle" *ngIf="cargaFinalizada && userModel?.user">
        <p>¡Hola!</p>
        <p class="profile-name">{{ oneName }}</p>
      </div>
    </div>
    <div class="data-container" *ngIf="cargaFinalizada && userModel?.user">
      <div>
        <h2>{{ userModel?.user.firstName }}</h2>
      </div>
      <div>
        <p>Auxiliar Administrativo</p>
      </div>
      <div>
        <p>Cuidame.tech</p>
      </div>
      <div>
        <img src="assets/icons/gps.svg" alt="gps" />
        <p>Tunja, Colombia</p>
      </div>
    </div>
    <div class="points-container">
      <div>
        <h2>Puntos por lograr</h2>
      </div>
      <div class="data-points-container">
        <div class="points-names">
          <p class="points">Puntos Estratégicos</p>
          <p class="points">Puntos Tácticos</p>
          <p class="points">Puntos Operacionales</p>
          <p class="points">Puntos Personales</p>
        </div>
        <div class="points-numbers">
          <div>
            <p>500</p>
          </div>
          <div>
            <p>1500</p>
          </div>
          <div>
            <p>2000</p>
          </div>
          <div>
            <p>1000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="button">Programa Personales</button>
    </div>
  </div>
</section>

<!-- Ends User Details  -->

<section>
  <ngx-charts-advanced-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    [gradient]="gradient"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-advanced-pie-chart>
</section>

<!-- Starts User Supplementary Content  -->

<section>
  <div
    class="supplementary-container"
    *ngIf="cargaFinalizada && userModel?.user"
  >
    <div class="my-points">
      <p>Mis Puntos</p>
      <p>1680</p>
    </div>
    <div class="edit-container">
      <button class="edit-button">
        <img src="assets/icons/feather_edit.svg" alt="Pencil-edit" /> Editar
        Perfil
      </button>
    </div>
    <div class="name-box">
      {{ userModel?.user.firstName }} {{ userModel?.user.lastName }}
    </div>
    <div class="content-box">
      <div class="box">
        <div>
          <strong>Identificación: </strong
          >{{ userModel?.user.identificationType }}
          {{ userModel?.user.identificationNum }}
        </div>
        <div><strong>Cargo: </strong> Aux. Administrativo</div>
      </div>
      <div class="box">
        <div><strong>Teléfono: </strong>{{ userModel?.user.phone }}</div>
        <div><strong>Empresa: </strong> Cuidame.tech</div>
      </div>
      <div class="box">
        <div><strong>Email: </strong> sofia.ayala.exxt&#64;cuidame.tech</div>
        <div><strong>Fecha de Cumpleaños: </strong> 01-01-1990</div>
      </div>
    </div>
  </div>
</section>

<!-- Ends User Supplementary Content  -->

<!-- Starts User Benefits Content  -->

<section>
  <div class="benefits">
    <div class="benefits-title">
      <h1>Mis beneficios</h1>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-inner">
          <div class="card-img">
            <img src="assets/categories/restaurant.svg" alt="restaurant" />
          </div>
          <div class="card-content">
            <div class="card-title">
              <h2>Restaurantes</h2>
            </div>
            <div class="card-body">
              <p>
                Sumérgete en el deleite culinario mientras exploras una
                selección de restaurantes de primera categoría. Desde platos
                exquisitos hasta un servicio impecable, esta experiencia está
                diseñada para deleitar tus sentidos y brindarte momentos
                inolvidables.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-img">
            <img src="assets/categories/restaurant.svg" alt="restaurant" />
          </div>
          <div class="card-content">
            <div class="card-title">
              <h2>Restaurantes</h2>
            </div>
            <div class="card-body">
              <p>
                Sumérgete en el deleite culinario mientras exploras una
                selección de restaurantes de primera categoría. Desde platos
                exquisitos hasta un servicio impecable, esta experiencia está
                diseñada para deleitar tus sentidos y brindarte momentos
                inolvidables.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ends User Benefits Content  -->

<!-- Starts User Personal Programs Content  -->

<section>
  <div class="personal-programs">
    <div class="program-header">
      <h1>Mis Programas Personales</h1>
    </div>
    <div class="add-program-container">
      <button><i class="fa-solid fa-plus"></i> Agregar</button>
    </div>
  </div>

  <div class="program-column">
    <div class="programs-container">
      <div class="section-container">
        <div class="first-section">
          <div>Estética y Salud</div>
          <div class="program-img">
            <img src="assets/images/mask.svg" alt="mask" />
            <p>LIMPIEZA FACIAL</p>
          </div>
        </div>
        <div class="second-section">
          <div class="paragraph">
            <p>
              Experiencia rejuvenecedora de una limpieza facial de lujo. Este
              beneficio brinda la oportunidad de disfrutar de un tratamiento
              especializado diseñado para revitalizar y mejorar la apariencia de
              la piel.
            </p>
            <div class="agreement">Convenio:</div>
          </div>
          <div class="agreement-img">
            <div class="agreement-container">
              <div class="img-c">
                <img src="" alt="" />
              </div>
            </div>
            <div class="stars-container">
              <div class="stars">
                <i class="fa-regular fa-star"></i
                ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thrid-section">
        <!-- Grilla -->
        <div class="grid-container">
          <div class="col requirement">
            <div style="font-size: 1.25rem; font-weight: normal">
              Requisito:
            </div>
            <div>1200 pts</div>
          </div>
          <div class="col redeem">CANJEAR</div>
          <div class="col to-apply">
            <div style="font-size: 1.25rem; font-weight: normal">Tienes:</div>
            <div>1680 pts</div>
          </div>
          <div class="col approve">APROVAR</div>
        </div>
      </div>
    </div>
    <div class="programs-container">
      <div class="section-container">
        <div class="first-section">
          <div>Estética y Salud</div>
          <div class="program-img">
            <img src="assets/images/mask.svg" alt="mask" />
            <p>LIMPIEZA FACIAL</p>
          </div>
        </div>
        <div class="second-section">
          <div class="paragraph">
            <p>
              Experiencia rejuvenecedora de una limpieza facial de lujo. Este
              beneficio brinda la oportunidad de disfrutar de un tratamiento
              especializado diseñado para revitalizar y mejorar la apariencia de
              la piel.
            </p>
            <div class="agreement">Convenio:</div>
          </div>
          <div class="agreement-img">
            <div class="agreement-container">
              <div class="img-c">
                <img src="" alt="" />
              </div>
            </div>
            <div class="stars-container">
              <div class="stars">
                <i class="fa-regular fa-star"></i
                ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thrid-section">
        <!-- Grilla -->
        <div class="grid-container">
          <div class="col requirement">
            <div style="font-size: 1.25rem; font-weight: normal">
              Requisito:
            </div>
            <div>1200 pts</div>
          </div>
          <div class="col redeem">CANJEAR</div>
          <div class="col to-apply">
            <div style="font-size: 1.25rem; font-weight: normal">Tienes:</div>
            <div>1680 pts</div>
          </div>
          <div class="col approve">APROVAR</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ends User Personal Programs Content  -->
