<div class="container">
  <div class="profile-container">
    <div class="profile-picture">
      <img src="assets/images/girl.svg" alt="profile" />
    </div>
    <div class="status-circle">
      <p>¡Hola!</p>
      <p class="profile-name">SOFÍA</p>
    </div>
  </div>
  <div class="data-container">
    <div>
      <h2>Sofía Alaya</h2>
    </div>
    <div>
      <p>Auxiliar Administrativo</p>
    </div>
    <div>
      <p>Cuidame.tech</p>
    </div>
    <div>
      <img src="assets/icons/gps.svg" alt="gps" />
      <p>Tunja, Colombia</p>
    </div>
  </div>
  <div class="points-container">
    <div>
      <h2>Puntos por lograr</h2>
    </div>
    <div class="data-points-container">
      <div class="points-names">
        <p class="points">Puntos Estratégicos</p>
        <p class="points">Puntos Tácticos</p>
        <p class="points">Puntos Operacionales</p>
        <p class="points">Puntos Personales</p>
      </div>
      <div class="points-numbers">
        <div>
          <p>500</p>
        </div>
        <div>
          <p>1500</p>
        </div>
        <div>
          <p>2000</p>
        </div>
        <div>
          <p>1000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button class="button">Programa Personales</button>
  </div>
</div>

<div class="supplementary-container">
  <div class="my-points">
    <p>Mis Puntos</p>
    <p>1680</p>
  </div>
  <div class="edit-container">
    <button class="edit-button">
      <img src="assets/icons/feather_edit.svg" alt="Pencil-edit" /> Editar
      Perfil
    </button>
  </div>
  <div class="name-box">
    Sofía Ayala
  </div>
  <div class="content-box">
    <div class="box">
      <div><strong>Identificación: </strong> CC 1.049.782.111</div>
      <div><strong>Cargo: </strong> Aux. Administrativo</div>
    </div>
    <div class="box">
      <div><strong>Teléfono: </strong> 320 4445577</div>
      <div><strong>Empresa: </strong> Cuidame.tech</div>
    </div>
    <div class="box">
      <div><strong>Email: </strong> sofia.ayala.exxt&#64;cuidame.tech</div>
      <div><strong>Fecha de Cumpleaños: </strong> 01-01-1990</div>
    </div>
  </div>
</div>
