<!-- Starts User Details  -->

<section>
  <div class="user-container">
    <div class="profile-container">
      <div class="profile-picture">
        <img src="assets/images/girl.svg" alt="profile" />
      </div>
      <div class="status-circle">
        <p>¡Hola!</p>
        <p class="profile-name">SOFÍA</p>
      </div>
    </div>
    <div class="data-container">
      <div>
        <h2>Sofía Alaya</h2>
      </div>
      <div>
        <p>Auxiliar Administrativo</p>
      </div>
      <div>
        <p>Cuidame.tech</p>
      </div>
      <div>
        <img src="assets/icons/gps.svg" alt="gps" />
        <p>Tunja, Colombia</p>
      </div>
    </div>
    <div class="points-container">
      <div>
        <h2>Puntos por lograr</h2>
      </div>
      <div class="data-points-container">
        <div class="points-names">
          <p class="points">Puntos Estratégicos</p>
          <p class="points">Puntos Tácticos</p>
          <p class="points">Puntos Operacionales</p>
          <p class="points">Puntos Personales</p>
        </div>
        <div class="points-numbers">
          <div>
            <p>500</p>
          </div>
          <div>
            <p>1500</p>
          </div>
          <div>
            <p>2000</p>
          </div>
          <div>
            <p>1000</p>
          </div>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button class="button">Programa Personales</button>
    </div>
  </div>
</section>

<!-- Ends User Details  -->

<!-- Starts User Supplementary Content  -->

<section>
  <div class="supplementary-container">
    <div class="my-points">
      <p>Mis Puntos</p>
      <p>1680</p>
    </div>
    <div class="edit-container">
      <button class="edit-button">
        <img src="assets/icons/feather_edit.svg" alt="Pencil-edit" /> Editar
        Perfil
      </button>
    </div>
    <div class="name-box">Sofía Ayala</div>
    <div class="content-box">
      <div class="box">
        <div><strong>Identificación: </strong> CC 1.049.782.111</div>
        <div><strong>Cargo: </strong> Aux. Administrativo</div>
      </div>
      <div class="box">
        <div><strong>Teléfono: </strong> 320 4445577</div>
        <div><strong>Empresa: </strong> Cuidame.tech</div>
      </div>
      <div class="box">
        <div><strong>Email: </strong> sofia.ayala.exxt&#64;cuidame.tech</div>
        <div><strong>Fecha de Cumpleaños: </strong> 01-01-1990</div>
      </div>
    </div>
  </div>
</section>

<!-- Ends User Supplementary Content  -->

<!-- Starts User Benefits Content  -->

<section>
  <div class="benefits">
    <div class="benefits-title">
      <h1>Mis beneficios</h1>
    </div>
    <div class="card-container">
      <div class="card">
        <div class="card-inner">
          <div class="card-img">
            <img src="assets/categories/restaurant.svg" alt="restaurant" />
          </div>
          <div class="card-content">
            <div class="card-title">
              <h2>Restaurantes</h2>
            </div>
            <div class="card-body">
              <p>
                Sumérgete en el deleite culinario mientras exploras una
                selección de restaurantes de primera categoría. Desde platos
                exquisitos hasta un servicio impecable, esta experiencia está
                diseñada para deleitar tus sentidos y brindarte momentos
                inolvidables.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-inner">
          <div class="card-img">
            <img src="assets/categories/restaurant.svg" alt="restaurant" />
          </div>
          <div class="card-content">
            <div class="card-title">
              <h2>Restaurantes</h2>
            </div>
            <div class="card-body">
              <p>
                Sumérgete en el deleite culinario mientras exploras una
                selección de restaurantes de primera categoría. Desde platos
                exquisitos hasta un servicio impecable, esta experiencia está
                diseñada para deleitar tus sentidos y brindarte momentos
                inolvidables.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Ends User Benefits Content  -->

<!-- Starts User Personal Programs Content  -->

<section>
  <div class="personal-programs">
    <div class="program-header">
      <h1>Mis Programas Personales</h1>
    </div>
    <div class="add-program-container">
      <button><i class="fa-solid fa-plus"></i> Agregar</button>
    </div>
  </div>

  <div class="programs-container">
    <div class="first-section">
      <div>Estética y Salud</div>
      <div>
        <img src="assets/images/mask.svg" alt="mask" />
        <p>LIMPIEZA FACIAL</p>
      </div>
    </div>
    <div class="second-section">
      <div class="paragraph">
        <p>
          Experiencia rejuvenecedora de una limpieza facial de lujo. Este
          beneficio brinda la oportunidad de disfrutar de un tratamiento
          especializado diseñado para revitalizar y mejorar la apariencia de la
          piel.
        </p>
        <div>Convenio:</div>
      </div>
      <div>
        <div><img src="" alt="" /></div>
      </div>
      <div>
        <i class="fa-regular fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
        ><i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="thrid-section">
      <!-- Grilla -->
      <div class="container text-center">
        <div class="row row-cols-2">
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>
    </div>
  </div>


</section>

<!-- Ends User Personal Programs Content  -->
