<div class="course-container">
  <div class="sidebar">
    <ul>
      <li (click)="openContent('courseBook')">
        <img src="assets/icons/course-book.svg" alt="course-book" />
        <span>PORTADA</span>
      </li>
      <li (click)="openContent('syllabus')">
        <img src="assets/icons/course-bookmark.svg" alt="course-bookmark" />
        <span>TEMARIO</span>
      </li>
      <li (click)="openContent('whoTeach')">
        <img
          src="assets/icons/course-chalkboard-teacher.svg"
          alt="course-chalkboard-teacher"
        />
        <span>QUIÉN ENSEÑA</span>
      </li>
      @if (syllabus || courseTest || conceptAssessment || courseValoration) {
      <li (click)="openContent('courseTest')">
        <img
          src="assets/icons/course-chalkboard-teacher.svg"
          alt="course-chalkboard-teacher"
        />
        <span>EVALUACIÓN DEL CURSO</span>
      </li>
      }
    </ul>
  </div>

  <div class="content">
    @if (courseBook) {
    <div class="course-description">
      <div class="course-title">Curso de Conceptos Básicos de SG-SST</div>
      <div class="course-qualification">
        <div class="course-stars">
          <i class="fa-regular fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i>
        </div>
        <div class="qua-square"><button>Básico</button></div>
      </div>
      <div class="course-paragraph">
        <p>
          Capacitación que tiene como objetivo el brindar los conceptos
          necesarios que todos trabajador debe de tener para su cuidado y el
          cuidado de los demás. <br />
          <br />
          Acá aprenderás: <br />
        </p>
        <p>1. La importancia del SG-SST.</p>
        <p>2. Que es un Incidente de Seguridad.</p>
        <p>3. Que hacer en caso de un Accidente de Trabajo</p>
      </div>
      <div class="start-container">
        <div class="start-course">
          !Mira la primera clase de este curso!
          <button (click)="openContent('syllabus')">COMIENZA AHORA</button>
        </div>
      </div>
    </div>
    } @if (whoTeach) {
    <div class="teacher-container">
      <div>
        <img src="assets/images/young_man.svg" alt="Teacher" />
      </div>
      <div class="teacher-description">
        <div class="teacher-title">
          Conoce quién enseña el Curso de Conceptos Básicos de SG-SST
        </div>
        <div class="teacher-name">Camilo López</div>
        <div class="teacher-desc">
          Es ingeniero Industrial de la universidad de san pepito, con master en
          Sg-SST, con mas de 10 años de experiencia.
        </div>
        <div class="teacher-footer">
          Design for the future, design for everyone
        </div>
      </div>
    </div>

    } @if (syllabus) {
    <div class="syllabus">
      <div class="board-header">
        Capacitación Conceptos Básicos de Seguridad y Salud en el Trabajo
      </div>
      <div class="board"></div>
    </div>
    } @if (!syllabus && !courseTest && !conceptAssessment && !courseValoration)
    {
    <div class="course-img-background">
      <img src="assets/images/course_lady.svg" alt="Course" />
    </div>
    } @if(courseTest){
    <div class="card-box">
      <div class="card" (click)="openContent('conceptAssessment')">
        <div class="card-img-box">
          <img src="assets/images/workers.svg" alt="Course_test" />
        </div>
        <div class="card-box-footer">Evaluación de Conceptos</div>
      </div>
      <div class="card" (click)="openContent('courseValoration')">
        <div class="card-img-box">
          <img src="assets/images/workers_2.svg" alt="course_test" />
        </div>
        <div class="card-box-footer">Evaluación del Curso</div>
      </div>
    </div>
    } @if (conceptAssessment) {
    <div class="test-container">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="test-card">
              <div class="card-inner-img">
                <img src="assets/images/question_img_3.svg" alt="q-img">
              </div>
              <div class="card-content">
                <div class="question">Un Accidente de Trabajo se considera cuando:</div>
                <div class="answers">
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Voy por el pasillo y casi me caigo, por que le piso estaba mojado.</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Estaba armando un mueble y me machuque con el martillo.</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Estaba en un quinto piso y un compañero estaba trabajando sin la línea de vida.</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="test-card">
              <div class="card-inner-img">
                <img src="assets/images/question_img_2.svg" alt="q-img">

              </div>
              <div class="card-content">
                <div class="question">Estaba en la obra, estamos trabajando bajo presión por que debemos entregar el trabajo este mismo día, encontramos que tenemos una fuga en tejado y mi compañero se sube, sin protección a taparla, logrando así cumplir con los tiempos correctos. Todo el equipo lo felicito y realizo de manera excelente su trabajo. ¿Estuvo bien su trabajo?</div>
                <div class="answers">
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Si</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>No</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="test-card">
              <div class="card-inner-img">
                <img src="assets/images/question_img_2.svg" alt="q-img">


              </div>
              <div class="card-content">
                <div class="question">Un riesgo es cuando un evento ocurre en el trabajo y existen personas eridas</div>
                <div class="answers">
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Verdadero</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Falso</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="test-card">
              <div class="card-inner-img">
                <img src="assets/images/question_img_4.svg" alt="q-img">
              </div>
              <div class="card-content">
                <div class="question">Seleccione cuales de los siguientes artículos son EPP:</div>
                <div class="answers">
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>El Casco para ingresar a la obra.</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>El forro del Celular.</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>Los guantes.</label>
                  </div>
                  <div class="question-option">
                    <input class="form-check-input" type="radio"> <label>El carnet de identificación.</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="end-test">
              <button class="end-test-button" (click)="openContent('courseTest')">Finalizar</button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    }
  </div>
</div>
