<div class="course-container">
  <div class="sidebar">
    <ul>
      <li>
        <img src="assets/icons/course-book.svg" alt="course-book" />
        <span>PORTADA</span>
      </li>
      <li>
        <img src="assets/icons/course-bookmark.svg" alt="course-bookmark" />
        <span>TEMARIO</span>
      </li>
      <li>
        <img
          src="assets/icons/course-chalkboard-teacher.svg"
          alt="course-chalkboard-teacher"
        />
        <span>QUIÉN ENSEÑA</span>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="course-description">
      <div class="course-title">Curso de Conceptos Básicos de SG-SST</div>
      <div>
       <div class="course-stars">
        <i class="fa-regular fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
          ><i class="fa-solid fa-star"></i>
       </div>
       <div><button>Básico</button></div>
      </div>
      <div class="course-paragraph">
        <p>
          Capacitación que tiene como objetivo el brindar los conceptos
          necesarios que todos trabajador debe de tener para su cuidado y el
          cuidado de los demás. Aca aprenderas:
        </p>
        <p>1. La importancia del SG-SST.</p>
        <p>2. Que es un Incidente de Seguridad.</p>
        <p>3. Que hacer en caso de un Accidente de Trabajo</p>
      </div>
      <div class="start-container">
        <div class="start-course">
          !Mira la primera clase de este curso!
          <button>COMIENZA AHORA</button>
        </div>
      </div>
    </div>
    <div class="course-img-background">
      <img src="" alt="">
    </div>
    
  </div>
</div>
