<!-- Starts Educative Programs Content  -->

<section style="margin: 200px 0 0 0">
  <div class="personal-programs">
    <div class="program-header">
      <h1>Educativo</h1>
    </div>
  </div>

  <div class="program-column">
    @for (item of courseModel; track $index) {
    <div class="programs-container">
      <div class="section-container">
        <div class="first-section">
          <div>{{ item.name }}</div>
          <div class="program-img">
            <img src="assets/images/mask.svg" alt="mask" />
            <p>{{ item.name }}</p>
          </div>
        </div>
        <div class="second-section">
          <div class="paragraph">
            <p>
              {{ item.description }}
            </p>
            @for (label of item.labels; track $index) {
            <p>{{ $index + 1 }}. {{ label }}.</p>
            }
          </div>
            <div class="stars-container">
              <div class="stars">
                <i class="fa-regular fa-star"></i
                ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i
                ><i class="fa-solid fa-star"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="thrid-section">
        <div class="grid-container">
          <div class="col requirement">
            <div style="font-size: 1.25rem; font-weight: normal">
              Modalidad:
            </div>
            <div>{{ item.modality }}</div>
          </div>
          <div class="col redeem">
            <div style="font-size: 1.25rem; font-weight: normal">
              Cierre Inscripciones:
            </div>
            {{ item.deadline | customDateFormat }}
          </div>
          <div class="col to-apply">
            <div style="font-size: 1.25rem; font-weight: normal">Duración:</div>
            <div>{{ item.duration }} Horas</div>
          </div>
          <div class="col approve" (click)="openModal(item._id)">INSCRIBIRSE</div>
        </div>
      </div>
    </div>
    }
  </div>
</section>

<!-- Ends Educative Programs Content  -->
