@import "../../../../app.component.scss";

.requirement {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: $title-color;
    background-color: $secondary-color;
    font-size: 2.8rem !important;
    padding: 5px 0 0 10px;
  }
  
  .redeem {
    background-color: $quaternary-color;
    display: flex;
    flex-direction: column;
    align-items: start !important;
    justify-content: start !important;
    color: $title-color;
    padding: 5px 0 0 10px;
    font-size: 3.25rem !important;
    color: #fff;
    cursor: default !important;
  }

  .approve {
    font-size: 2rem !important;
    cursor: pointer;
  }

  .paragraph {
    height: 100% !important;
  }

  .stars-container {
    padding: 10px 0 10px 10px !important;
  }
@import "../user-details/user-details.component.scss"


