<div class="content-dialog">
  <div class="content-img">
    <img src="assets/images/mask_women.svg" alt="Img">
  </div>
  <div class="content-data">
    <div class="title">
      ¡FELICITACIONES!
    </div>
    <div class="congrats">
      Canjeaste  tus puntos, por un maravillosa sesión de SPA en Hamman, para agendarse puedes llamar: Tel. <strong>315 2337298</strong>
    </div>
    <div class="congrats">Agendar virtualmente <strong>AQUI</strong></div>
    <div class="item">
      <div class="qr-img"><img src="assets/images/qr.svg" alt="qr"></div>
      <div class="qr-info">
        <div>Con este código QR, puede presentarlo en las instalaciones de Hamman o con el código:
        </div>
        <div class="code"><strong>spa032515412</strong></div>
      </div>
    </div>
  </div>
</div>