<div class="content-dialog">
  <div class="content-img">
    <img src="assets/images/redeem-dialog.svg" alt="Img">
  </div>
  <div class="content-data">
    <div class="title">
      ¡FELICITACIONES!
    </div>
    <div class="congrats">
      Felicidades  por inscribirte al curso de: <strong>Conceptos básicos de SG-SST</strong>
        Curso que se realiza de manera Virtual, seleccione tus metas:  
    </div>
    <div class="item achieve">
      <div class="item-container"><div class="item-1">DIARIO</div><div class="option">30 Minutos</div></div>
      <div class="item-container"><div class="item-2">SEMANA</div><div class="option">1 Hora</div></div>
      <div class="item-container"><div class="item-3">MES</div><div class="option">2 Horas</div></div>
    </div>
    <div class="item">
      <div class="start-container">
        <div class="start-course">
          !Mira la primera clase de este curso!
          <button>COMIENZA AHORA</button>
        </div>
      </div>
    </div>
  </div>
</div>